@{
   Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>About</h1>
</div>
<div id="body">
    <img id="aboutmain1" src="images\our-wines.png" alt=""></img>
    <h3>About WineSpot</h3>
    <p>The WineSpot has recently changed its name and its ownership. Formerly a member of the WineStyles franchise, and now locally owned, the WineSpot is now better able to serve the                 specific needs and requests of its many clients and wine club members.  </p>
    <br />
    <br />
    <br />
    <img id="aboutmain2" src="images\about.png" alt=""></img>
    <h3>Your Wine Source and So Much More!</h3>
    <p>The new ownership team of Debra Yeager and Paula Walker encourage you to come in soon and experience a truly unique blend of fine wines and good times.</p>
    <br />
    <br />
    <br />
    <br />
    <a href="http://www.thesweetspotcakery.net/" target="_blank">
        <img id="sweetspotcakery" src="images/sweetspot logo.png" alt=""></img>
    </a>
    <h3>The Sweet Spot Cakery</h3>
    <p>Look for exciting news coming soon...A sweet combination will soon be here!</p>
</div>
