@{
    Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>Contact Us</h1>
</div>
<div id="body">
    <img src="images/winespot-front.png" alt="" style="max-width: 275px; max-height: 275px;float: right;padding: 25px;"></img>
    <h3>New Name, Same Great Spot</h3>
    <p class="contactus">2640 South Glenstone
        <br />
        Springfield, MO 65804 </p>
    <p class="contactus">417-882-4499</p>
    <p class="contactus"><a href="mailto:info@winespotspringfield.com">info@winespotspringfield.com</a></p>
    <iframe style="padding: 25px;"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.4479564664825!2d-93.26153299999997!3d37.16582399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf64aa0ef81b15%3A0xf8918d3b717320c8!2sWine+Spot!5e0!3m2!1sen!2sus!4v1406852961515" 
    width="650" height="400" frameborder="0" style="border:0"></iframe>
</div>