@{
    Layout = "templates/master.cshtml";
}

<div id="content">
    <div id="header">
        <img src="images/grapes.jpg" alt="">
        <div>
            <i>Springfield's Wine & Gift Boutique</i> <img src="images/wine-bottles.png" alt="">
        </div>
    </div>
    <div id="body">
        <div class="header">
            <div>
                <img src="images/red-wine.jpg" alt="">
                <div>
                    <b>Join Wine Club!</b>
                    <p>
						Two and Three bottle per month memberships.
                    </p>
                    <a href="WineClub" class="more">learn more</a>
                </div>
            </div>
            <div>
                <img src="images/lady.jpg" alt=""> <i>Wine tasting every Friday & Saturday <a href="Events" class="more">learn more</a></i>
            </div>
        </div>
        <div class="body">
            <h2>The WineSpot Experience</h2>
            <p class="information">
                            The WineSpot is so much more than simply a wine shop.  Not only do we offer a fantastic array of select vintages,
                            the WineSpot features unique gift arrangements and accessories. Join our Wine Club and receive special discounts
                            or let us plan your next party!  You'll soon discover this is the happening spot in Springfield.
            </p>
            <ul>
                <li>
                    <a class="figure" href="Events"><img src="images/our-wines.png" alt=""></a>
                    <h3>Events</h3>
                    <p>
						Check out our events page!
                    </p>
                    <a href="Events" class="more">learn more</a>
                </li>
                <li>
                    <a class="figure" href="Gifts"><img src="images/history.png" alt=""></a>
                    <h3>Gifts</h3>
                    <p>
									Check out the coolest wine related gifts.
                    </p>
                    <a href="gifts" class="more">learn more</a>
                </li>
                <li>
                    <a class="figure" href="About"><img src="images/about.png" alt=""></a>
                    <h3>about</h3>
                    <p>
									Interested to know more about WineSpot?
                    </p>
                    <a href="About" class="more">learn more</a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="featured">
                <h2>Featured Wines</h2>
                <table>
                    <tr>
                        <td class="featuredwine">
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 1
                        </td>
                        <td>
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 2
                        </td>
                        <td>
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 3
                        </td>
                    </tr>
                    <tr>
                        <td class="featuredwine">
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 4
                        </td>
                        <td>
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 5
                        </td>
                        <td>
                            <a href="Wines"><img src="images/featured-wine.png" alt=""></a>
                            Wine 6
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
