@{
   Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>Events</h1>
</div>
<div id="body">
    <iframe src="https://www.google.com/calendar/embed?src=mr4ud0797t7a21tn5r1h10nelk%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
</div>
