@{
     Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>Gifts</h1>
</div>
<div id="body">
    <img class="winebasket" src="images/winebasket1.jpg" alt=""></img>
    <h3>The Wine Spot Gifts</h3>
    <p>The WineSpot has a tremendous, creative array of gift baskets that can be custom made for your party or event. 
        If you're in a hurry, you can also select from several pre-made gift baskets that will make that special someone 
        happier than you can imagine.  </p>
    <br />
    <p>Come by our shop soon and let us show what we can do for you!</p>
</div>