@{
    Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>Mailing List</h1>
</div>
<div id="body">
    <h3>Join Our Mailing List</h3>
    <iframe src="http://www.appnitro.com/demo/view.php?id=6" width="700px" height="775px"></iframe>
</div>
