@{
    Layout = "templates/master.cshtml"; 
}

<div id="header">
					<img src="images/mountains.jpg" alt="">
					<h1>our wines</h1>
				</div>
				<div id="body">
					<h3>we have free templates for everyone.</h3>
					<p>
						Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links if you want to.
					</p>
					<h3>lorem ipsum dolor sit amet</h3>
					<p>
						If you’re experiencing issues and concerns about this website template, join the discussion on <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
					</p>
					<ul>
						<li>
							<a class="figure" href="#"><img src="images/wine1.png" alt=""></a>
							<h3>Lorem ipsum</h3>
							<p>
								Pellentesque a placerat dui. Suspendisse laoreet placerat turpis vel semper.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
						<li>
							<a class="figure" href="#"><img src="images/wine2.png" alt=""></a>
							<h3>Dolor sit amet</h3>
							<p>
								Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
						<li>
							<a class="figure" href="#"><img src="images/wine3.png" alt=""></a>
							<h3>Lorem ipsum</h3>
							<p>
								Vivamus at lectus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
						<li>
							<a class="figure" href="#"><img src="images/wine4.png" alt=""></a>
							<h3>Lorem ipsum</h3>
							<p>
								Pellentesque a placerat dui. Suspendisse laoreet placerat turpis vel semper.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
						<li>
							<a class="figure" href="#"><img src="images/wine5.png" alt=""></a>
							<h3>Dolor sit amet</h3>
							<p>
								Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
						<li>
							<a class="figure" href="#"><img src="images/wine6.png" alt=""></a>
							<h3>Lorem ipsum</h3>
							<p>
								Vivamus at lectus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							</p>
							<a href="#" class="more">learn more</a>
						</li>
					</ul>
				</div>
