@{
   Layout = "templates/master.cshtml"; 
}

<div id="header">
    <img src="images/mountains.jpg" alt="">
    <h1>Wine Club</h1>
</div>
<div id="body">
    <img id="aboutmain1" src="images\our-wines.png" alt=""></img>
    <h3>Two Bottle Wine Club</h3>
    <p>Your Wine Club Benefits Include </p>
    <div>
        <ul class="wineclubbenefits">
            <li>Two bottles each month</li>
            <li>Discount on all wine purchase</li>
            <li>Special discounts on Wine Club wines</li>
            <li>Invitations to private tastings and special events</li>
            <li>Free wine tastings</li>
            <li>Additional member only savings adn benefits</li>
            <li>Wine available for pick up on the 15th of the month</li>
        </ul>
    </div>
    <img id="aboutmain1" src="images\about.png" alt=""></img>
    <h3>Three Bottle Wine Club</h3>
    <p>Your Wine Club Benefits Include</p>
    <div>
        <ul class="wineclubbenefits">
            <li>Three bottles each month</li>
            <li>Discount on all wine purchases</li>
            <li>Special discounts on all Wine Club wines</li>
            <li>Invitations to private tastings and special events</li>
            <li>Free wine tastings</li>
            <li>Additional member only savings and benefits</li>
            <li>Wine available for pick up on the 15th of the month</li>
        </ul>
    </div>
    <p>If you share a love of wine and fun, the WineSpot's Wine Club will be a continuing source of enjoyment. Click below to save your Spot in this exclusive club!</p>
</div>
