@{
    
}

<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>WineSpot</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="sidebar">
				<a href="index.html" class="logo"><img src="images/winespot.png" alt=""></a>
				<ul>
					<li>
						<span><a href="default.cshtml">home</a></span>
					</li>
					<li>
						<span><a href="about.cshtml">about us</a></span>
					</li>
					<li>
						<span><a href="events.cshtml">events</a></span>
					</li>
					<li>
						<span><a href="wines.cshtml">wine</a></span>
					</li>
					<li>
						<span><a href="gifts.cshtml">gifts</a></span>
					</li>
					<li>
						<span><a href="mailinglist.cshtml">Mailing List</a></a></span>
					</li>
					<li>
						<span><a href="contactus.cshtml">contact us</a></span>
					</li>
				</ul>
				<div class="contact">
					<ul>
						<li class="address">
							<span>address</span>
							<ul>
								<li>
									2640 South Glendstone
								</li>
								<li>
									Springfield, MO 65804
								</li>
								<li>
									USA
								</li>
							</ul>
						</li>
						<li class="contactInfo">
							<span>contact info</span>
							<ul>
								<li>
									417-882-4499
								</li>
							</ul>
						</li>
						<li class="mail">
							<span>email</span>
							<ul>
								<li>
									<a href="#">info@winespotspringfield.com</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="connect">
					<b>follow us</b>
					<p>
						In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id.
					</p>
					<ul>
						<li id="facebook">
							<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
						</li>
						<li id="twitter">
							<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
						</li>
						<li id="googleplus">
							<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
						</li>
						<li id="connectemail">
							<a href="http://www.freewebsitetemplates.com/misc/contact">email</a>
						</li>
					</ul>
				</div>
				<div class="newsletter">
					<b>join our mailing list</b>
					<form action="index.html">
						<input type="text" name="email" value="Enter email-address" id="email">
						<input type="submit" name="submit1" value="Sign up!" id="submit1">
					</form>
				</div>
			</div>
            <div id="content">
			    @RenderBody()
                <div id="footer">
					<ul>
						<li class="selected">
							<a href="index.html">home</a>
						</li>
						<li>
							<a href="wines.html">our wines</a>
						</li>
						<li>
							<a href="history.html">history</a>
						</li>
						<li>
							<a href="about.html">about</a>
						</li>
						<li>
							<a href="blog.html">blog</a>
						</li>
						<li>
							<a href="contact.html">contact</a>
						</li>
					</ul>
					<p>
						&copy; <a href="">Paredes Winery</a> 2032. All Rights Reserved.
					</p>
				</div>
            </div>
		</div>
	</div>
</body>
</html>
